@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<title>فريق إعداد دليل الإجراءات </title>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/DataObjects.js"></script>
<script src="~/DataObjects/Organization.js"></script>
<link href="~/Content/aboutCss.css" rel="stylesheet" />

<!-- Bootstrap Core CSS -->
<link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />

<link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
<script src="~/js/jquery-1.11.0.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/js/bootstrap.min.js"></script>

@*<img src="~/Images/logo.jpg" alt="دليل الإجراءات" style="float:right;  width: 450px" />*@

<div id="PageContent">

    <div id="PageHeader">
        <br />
        <div>
            <h1>دليل الاجراءات</h1>
        </div>
        <div style="clear:both"></div>
    </div>
    <hr>

    <div style="font-size:16px;">

        هو دليل مفصل عن الوضع الحالي للهيئة العامة للاتصالات والمعلوماتية والإدارات العامة والإدارات التابعة والاقسام والوحدات والمكاتب. يحتوي الدليل على الوصف الإداري وقرارات الإنشاء والجهات ذات العلاقة والقوانين واللوائح المعمول بها بالإضافة الى وصف تفصيلي لكل خدمة من الخدمات والاجراءات التي تقدمها الإدارات التابعة للهيئة العامة للاتصالات والمعلوماتية معرّفة بخطوات تنفيذها والغرض منها والزمن اللازم لإتمامها واللوائح والقوانين المطبقة وأسم الوحدة الإدارية التي تُؤدى فيها وجهات اعتماد الخدمة. كما يتضمن أسم الجهة التي تطلب الخدمة وأي جهات أخرى ذات العلاقة والنماذج المستخدمة ومؤشرات الأداء الرئيسية.     <br /><br />

        يشمل دليل الاجراءات كل الخدمات التي تقدمها الهيئة العامة للاتصالات والمعلوماتية مما تطَلب مشاركة الموظفين القائمين على هذه الخدمات في تحديد الإجراءات والخطوات التي تتبع لأداء الخدمة للتنسيق والمساعدة في الحصول على المعلومات اللازمة.     <br /><br />

        يعتبر دليل الإجراءات المعتمد مرجعاً للموظفين والمستفيدين من الخدمات وأساساً للتحول إلى الخدمات الإلكترونية.

        <br /><br />
        <b> فريق عمل المشروع:</b><br />
        <br />
        <div style="margin-right:40px;">

            م. الهادي عبد النبي المزوغي <br />
            م. إمحمد خليل شكلاوون<br />
            م. إيثار عبد الغني الشبه<br />
            م. أحمد صالح القنصل<br />
            م. أحمد عبد العزيز عزوز<br />
            م. أحمد محمد الحمادي<br />
            م. أحمد محمد الضبع<br />
            م. أسماء علي محمد أحمد<br />
            م. أنس مختار الغول<br />
            م. أية هاشم عرفه<br />
            م. حسن رمضان سعيد<br />
            م. حسين محمد سالم<br />
            م. خالد ميلاد حمزة<br />
            م. ربيع عمران أبو خريص<br />
            م. رويدا عبد السلام نصر<br />
            م. ريمه أبو عجيله حسن<br />
            م. زينب العربي خليفه<br />
            م. سار محسن عريقيب<br />
            م. سارة منصور راشد<br />
            م. سارة نور الدين سعيدان<br />
            م. سراج يوسف فهمي<br />
            م. سعاد علي البحري<br />
            م. سمية الهاشمي دخيل<br />
            م. صفاء البهلول النجار<br />
            م. عائشة محمد أبو دينه<br />
            م. عدنان المبروك صابر<br />
            م. علاء الدين أبو عجيله بنور<br />
            م. علي سالم عبد الله<br />
            م. غادة أحمد حدود<br />
            م. فتحي محمد أبو شغلين<br />
            م. لميس سالم كانون<br />
            م. محمد صلاح الدين الجدوعي<br />
            م. مصعب سالم الرياني<br />
            م. معتز نجيب صميده<br />
            م. مهند مفتاح التركي<br />
            م. نصر الدين عبد المنعم البلعزي<br />
            م. نيروز الهادي التريكي<br />
            م. هالة خليل محمود<br />
        </div>

        <!--#################################### -->
        <div style="clear:both;"></div>
        <div id="footer">

            <a href="#contact" data-toggle="modal">الهيئة العامة للاتصالات والمعلوماتية عبر الشبكة العنكبوتية</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">فريق إعداد دليل الإجراءات</a>
        </div>
    </div>
    <div class="modal fade" id="contact" role="dialog">
        <div class="modal-dialog">
            <div class="modal-contact">
                <div class="modal-header">
                    <h4>تواصل معنا</h4>
                </div>
                <div class="modal-body">
                    <a class="facebook" rel="nofollow" target="_blank" href="https://www.facebook.com/cim.gov.ly"><i class="fa fa-facebook-square fa-3x" style="color:#3B5998"></i></a>
                    <a class="twitter" rel="nofollow" target="_blank" href="https://twitter.com/Telecom_Libya"><i class="fa fa-twitter fa-3x" style="color:#3B5998"></i></a>
                    <a class="cim" rel="nofollow" target="_blank" href="http://www.cim.gov.ly/"><img src="~/images/icon.png" /></a>

                    @*<a href="https://twitter.com/Telecom_Libya" target="_blank"><i class="fa fa-twitter fa-3x" style="color:#55acee"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.facebook.com/cim.gov.ly" target="_blank"><i class="fa fa-facebook-square fa-3x" style="color:#3B5998"></i></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a target="_blank" href="~/http://www.cim.gov.ly/"><img src="~/images/icon.png" /></a>*@
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-dismiss="modal">close</a>
                </div>
            </div>
        </div>
    </div>
</div>