@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/JavaScript.js"></script>
<br />

<div class="container1">
    <div class=" icons">

        <div class="col-md-2 col-sm-4 col-xs-6 col-md-offset-4 col-sm-offset-3">

            <div>

                    <a href="~/Home/MainPage">
                        <img src="~/images/reg.jpg" class="img-rounded img-responsive ">
                    </a>
                    <p>
                        @Html.ActionLink("خدمات شؤون التنظيم", "MainPage", "Home")
                    </p>
                </div>
            </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        <div>

            <a href="~/Home/service">
                <img src="~/images/abcd.jpg" class="img-rounded img-responsive" style="padding-top:8px;">
            </a>
            <p>
                @Html.ActionLink("دليل إجراءات الإلكتروني للعمل للهيئة العامة للاتصالات والمعلوماتية", "service", "Home")
            </p>
        </div>
    </div>
</div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>