		body {
				font-family:verdana;
				font-size:12px;
                direction:rtl;  
                text-align:right;
                
                color:#062360;   
                margin:0px;
                padding:0px;   
              font-family: 'Droid Arabic Kufi';
   

			}
     
        #PageContent {
            margin:0px auto;
            width:900px;
                        
 
}

.modal-contact{
    margin-top:200px;
    text-align: center;
    background-color: aliceblue;
}    
         
            .HelperList li a:hover {
                color:#4075c6;
                font-weight:bold;
            }

     
        #footer {
            height:40px;
            margin-top:10px;
            padding:10px;
            border-top:solid 1px #ccc;
            text-align:left;
        }
            #footer a {
                color:#666;
                text-decoration:none;
            }
            #footer a:hover {
                color:#062360;
            }
        #titile{
            text-align: left;
        margin-top: 60px;
            color: black;
        }

.icons{
text-align: center;

}
.icons > div > div{
	padding:5px;
	border: 1px solid transparent;
	border-radius:1px;
	transition: 0.2s;
}
.icons > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
